@using TutoringRequest.Models.DTO.Courses
@using TutoringRequest.Models.DTO.Majors
@model IEnumerable<MajorDto>
@{
    ViewData["Title"] = "Major List";
}

<div class="container mt-5">
    <h2 class="mb-4">Majors</h2>
    @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">
            @TempData["SuccessMessage"]
        </div>
    }
    @if (User.IsInRole("Admin"))
    {
        <a href="@Url.Action("Create", "Major")" class="btn btn-success mb-3">Add Major</a>
    }
    <div class="row">
        @foreach (var major in Model)
        {
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@major.MajorName</h5>
                        <a href="@Url.Action("Courses", "Major", major)" class="btn btn-info text-white">Courses</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a href="@Url.Action("Delete", "Major", major)" class="btn btn-danger">Delete</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
